/* https://gist.github.com/BrendonKoz/b1df234fe3ee388b402cd8e98f7eedbd */
.dark-map {
    filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

/* Max height */
.map-container {
    max-height: calc(100vh - 166px);
    height: calc(100vh - 166px);
}