<div class="relative h-screen flex items-center justify-center dark:text-white">
    <div class="absolute inset-0 bg-repeat bg-center"
        style="background-image: url('assets/images/login.webp'); filter: blur(3px);"></div>
    <div class="relative z-10 dark:bg-gray-800 bg-white p-8 rounded-xl shadow-lg max-w-md w-full">
        <div class="flex mb-4 justify-center">
            <span class="self-center text-lg font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Welcome
                to</span>
            <img src="assets/images/logo.svg" alt="Logo"
                class="text-black dark:text-white w-8 h-8 mx-1 invert dark:invert-0">
            <span class="self-center text-lg font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Trek!</span>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <div class="mb-4">
                <label for="username" class="block text-sm font-bold mb-2">Username</label>
                <input type="text" formControlName="username" name="username"
                    class="dark:bg-gray-700 w-full px-3 py-2 border dark:border-gray-500 border-gray-300 rounded"
                    placeholder="Enter your username" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-bold mb-2">Password</label>
                <input type="password" formControlName="password" name="password"
                    class="dark:bg-gray-700 w-full px-3 py-2 border dark:border-gray-500 border-gray-300 rounded"
                    placeholder="Enter your password" required>
            </div>
            <div class="flex justify-center">
                <button type="submit"
                    class="bg-blue-500 font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline-blue active:bg-blue-700 text-white">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>