<div class="dark:bg-gray-800 bg-white dark:text-white text-black p-8">
  <form [formGroup]="createForm" (ngSubmit)="createUser()">
    <div class="mb-4">
      <label for="username" class="block font-semibold mb-2">Username</label>
      <input type="text" formControlName="username" name="username"
        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring text-black dark:bg-gray-700 border-gray-200 bg-white dark:border-gray-600 dark:text-white">
    </div>
    <div class="mb-4">
      <label for="password" class="block font-semibold mb-2">Password</label>
      <input type="password" formControlName="password" name="password"
        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring text-black dark:bg-gray-700 border-gray-200 bg-white dark:border-gray-600 dark:text-white">
    </div>
    <div class="flex justify-center space-x-4">
      <button type="submit"
        class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">
        Create
      </button>
      <button type="button"
        class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600 focus:outline-none focus:ring focus:border-gray-300"
        (click)="this.dialogRef.close(false)">Close</button>
    </div>
  </form>
</div>