/* Light mode background color */
body {
    background-color: #ffffff;
}

/* Dark mode background color */
body.dark {
    background-color: #1f2937;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Display dialog content as block */
.mat-mdc-dialog-component-host {
    display: block !important;
}