/* Light mode background color */
body {
    background-color: #ffffff;
}

/* Dark mode background color */
body.dark {
    background-color: #1f2937;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Display dialog content as block */
.mat-mdc-dialog-component-host {
    display: block !important;
}

/* Dialog border radius: https://stackoverflow.com/a/77908592/19371130 */
.mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 0.75rem;
}